{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.pk == task.reporter.pk %}
            <main role="main" class="container">
                <div class="card">
                    <h4 class="card-header">Edit task</h4>
                    <div class="card-body">
                        <br/><br/>
                        <form action="{% url 'tasks:edit_task' task.pk %}"
                              method="post" class="form">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button class="btn btn-secondary">
                                Save changes</button>
                            <a href="{% url 'tasks:delete_task' task.pk %}"
                               class="btn btn-danger active" role="button"
                               aria-pressed="true">Delete task</a>
                        </form>
                    </div>
                </div>
            </main>
        {% endif %}
    {% endif %}
{% endblock content %}