{% extends "layout/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <main role="main" class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h5>To Do</h5>
                <hr/>
            </div>
            <div class="col-md-3">
                <h5>In Progress</h5>
                <hr/>
           </div>
            <div class="col-md-3">
                <h5>Testing</h5>
                <hr/>
            </div>
            <div class="col-md-3">
                <h5>Done</h5>
                <hr/>
            </div>
        </div>
    </main>
    <br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                {% for task in object_list %}
                    {% if task.status == 'to-do' %}
                        <h5><a href="{% url 'tasks:task_detail' task.pk %}">
                          {{ task }}</a></h5>
                        <p>
                          <i>{{ task.date_added }} - {{ task.deadline }}</i>
                        </p>
                        <p>Priority: {{ task.priority }}</p>
                        <p>Reporter: {{ task.reporter }}
                            ({{ task.reporter.email }})<br/>
                            Assignee: {{ task.assignee }}
                            ({{ task.assignee.email }})</p>
                        <hr/><br/>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-3">
                {% for task in object_list %}
                    {% if task.status == 'in_progress' %}
                        <h5><a href="{% url 'tasks:task_detail' task.pk %}">
                          {{ task }}</a></h5>
                        <p>
                          <i>{{ task.date_added }} - {{ task.deadline }}</i>
                        </p>
                        <p>Priority: {{ task.priority }}</p>
                        <p>Reporter: {{ task.reporter }}
                            ({{ task.reporter.email }})<br/>
                            Assignee: {{ task.assignee }}
                            ({{ task.assignee.email }})</p>
                        <hr/><br/>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-3">
                {% for task in object_list %}
                    {% if task.status == 'testing' %}
                        <h5><a href="{% url 'tasks:task_detail' task.pk %}">
                          {{ task }}</a></h5>
                        <p>
                          <i>{{ task.date_added }} - {{ task.deadline }}</i>
                        </p>
                        <p>Priority: {{ task.priority }}</p>
                        <p>Reporter: {{ task.reporter }}
                            ({{ task.reporter.email }})<br/>
                            Assignee: {{ task.assignee }}
                            ({{ task.assignee.email }})</p>
                        <hr/><br/>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-3">
                {% for task in object_list %}
                    {% if task.status == 'done' %}
                        <h5><a href="{% url 'tasks:task_detail' task.pk %}">
                          {{ task }}</a></h5>
                        <p>
                          <i>{{ task.date_added }} - {{ task.deadline }}</i>
                        </p>
                        <p>Priority: {{ task.priority }}</p>
                        <p>Reporter: {{ task.reporter }}
                            ({{ task.reporter.email }})<br/>
                            Assignee: {{ task.assignee }}
                            ({{ task.assignee.email }})</p>
                        <hr/><br/>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}