{% extends "layout/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <main role="main" class="container">
        <div class="card">
            <h4 class="card-header">
                {{ task }}
                <button type="button" class="btn btn-outline-secondary">
                    <a href="{% url 'tasks:edit_task' task.pk %}">Edit task</a>
                </button>
            </h4>
            <div class="card-body">
                <i><ins>Created by: {{ task.reporter }}
                  {{ task.date_added|date:'M d, Y' }}</ins></i>
                <br/><br/><br/>
                <p><b>Description:</b> <br/>{{ task.text }}</p>
                <p><b>Assignee:</b> <br/>{{ task.assignee }}</p>
                <p><b>Deadline:</b> <br/>{{ task.deadline }}</p>
                <p><b>Status:</b> <br/>{{ task.status }}</p>
                <p><b>Priority:</b> <br/>{{ task.priority }}</p>
            </div>
        </div>
    </main>
{% endblock content %}