{% extends "layout/base.html" %}
{% load bootstrap4 %}

{% block content %}
    {% if user.is_authenticated %}
        <main role="main" class="container">
            <div class="card">
                <h4 class="card-header">Change password</h4>
                <div class="card-body">
                    <br/><br/>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-secondary">
                            Save changes</button>
                    </form>
                </div>
            </div>
        </main>
    {% endif %}
{% endblock content %}