{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
     shrink-to-fit=no">
    <title>Task_controller</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 border">
        <a class="navbar-brand" href="{% url 'tasks:home' %}">
            <h4>Task Controller</h4></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>
        {% if user.is_authenticated %}
            <button type="button" class="btn btn-outline-secondary">
                <a class="navbar-brand" href="{% url 'tasks:add_task' %}">
                    <small>+ Add task</small></a>
            </button>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-brand">
                            <small>
                                {% if user.profile %}
                                    <a class="nav-link"
                                       href="{% url 'users:show_profile_page' user.profile.id %}">
                                        {{ user.username }}<br/>{{ user.email}}</a>
                                {% else %}
                                    {{ user.username }}<br/>{{ user.email}}
                                {% endif %}
                            </small>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span class="navbar-brand">
                            <button type="button"
                                    class="btn btn-outline-secondary">
                                <a class="navbar-brand"
                                   href="{% url 'users:edit_profile' %}">
                                    <small>Edit profile settings</small></a>
                            </button>
                        </span>
                    </li>
                    <li class="nav-item">
                        <span class="navbar-brand">
                            <button type="button"
                                    class="btn btn-outline-secondary">
                                <a class="navbar-brand"
                                   href="{% url 'users:logout' %}">
                                    <small>Log out</small></a>
                            </button>
                        </span>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <button type="button"
                                class="btn btn-outline-secondary">
                            <a class="navbar-brand"
                               href="{% url 'users:register' %}">
                                <small>Register</small></a>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button"
                                class="btn btn-outline-secondary">
                            <a class="navbar-brand"
                               href="{% url 'users:login' %}">
                                <small>Log in</small></a>
                        </button>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock content %}

</body>
</html>